* {
	font-family: Tahoma, monospace;
	z-index: 1;
}

body {
	background-color: #ebcc75;
}

h1 {
	text-align: center;
	background-color: orange;
	background-image: linear-gradient(to bottom, #eba542, orange);
	border-radius: 50px;
	padding: 30px;
	margin: 50px 20px 20px 20px;
	line-height: 35px;
}

h2 {
	text-align: center;
	background-color: yellow;
	border-radius: 30px;
	padding: 20px;
	margin: 30px 100px;
}

#tbg {
	text-align: center;
	background-color: blue;
	border-radius: 30px;
	padding: 114px 49% 115px 49%;
	position: fixed;
	margin: 20px 5px 0px 5px;
	z-index: -1;
}

#sticky {
	font-size: 20px;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 10px;
	margin: 0px;
	text-align: center;
	background-image: linear-gradient(to top, #eba542, orange);
	left: 0px;
	font-family: monospace;
}


button {
	width: 100%;
	padding: 10px;
	background-image: linear-gradient(#bf3644, red);
	border-radius: 20px;
	font-size: 20px;
	background-color: #bf3644;
}

button:hover {
	background-image: linear-gradient(#ce5561, red);
	background-color: pink;
}

button:active {
	background-color: #bf3644;
	background-image: linear-gradient(#bf3644, red);
}

p {
	font-size: 20px;
	text-align: center;
}
